@model CadeMeuMedico.Models.Medico

@{
    ViewBag.Title = "Adicionar";
}

<h2>Adicionar novo Médico</h2>

@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Dados do Medico</legend>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <fieldset>

            <div class="editor-label">
                @Html.LabelFor(model => model.CRM)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CRM )
                @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Nome )
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Endereco)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Endereco )
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Bairro)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Bairro )
                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })

            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email )
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <br />

            <div class="editor-label">
                @Html.LabelFor(model => model.AtendePorConvenio)
            </div>
            <div class="editor-field">
                    @Html.EditorFor(model => model.AtendePorConvenio)
                    @Html.ValidationMessageFor(model => model.AtendePorConvenio, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TemClinica)
            </div>
            <div class="editor-field">
                    @Html.EditorFor(model => model.TemClinica)
                    @Html.ValidationMessageFor(model => model.TemClinica, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WebsiteBlog)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WebsiteBlog )
                @Html.ValidationMessageFor(model => model.WebsiteBlog, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IDCidade)
            </div>
            <div class="editor-field">
                @Html.DropDownList("IDCidade", String.Empty)
                @Html.ValidationMessageFor(model => model.IDCidade, "", new { @class = "text-danger" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IDEspecialidade)
            </div>
            <div class="editor-field">
                @Html.DropDownList("IDEspecialidade", String.Empty)
                @Html.ValidationMessageFor(model => model.IDEspecialidade, "", new { @class = "text-danger" })
            </div>

            <br />

            <p>
                <input type="submit" value="Criar Cadastro" class="btn btn-primary" />
            </p>


            </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a Lista", "Index")
</div>
